.controls table {
  width: 75%;
}

td.url {
  width: 100%;
  padding: 0px 10px;
}

.url input {
  width: 100%
}

div.code {
    font-family: "Courier New";
    line-height: 1.2em;
    background: #FFF9DE;
    border: solid;
    border-style: dotted;
    border-width: 1px;
    border-color: blue;
    color: #4D4169;
    padding: 10px;

    overflow-wrap: break-word;
    word-wrap: break-word;

    visibility: hidden;
}

div.summary {
    visibility: hidden;
}

.summary table {
    width: 25%
}

.summary th {
    text-align: left;
}
