<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% include 'controls.html' %}
        {% include 'summary-instructions.html %}
        <table class="layout">
            <tr>
                <td class="layout-summary">
                    {% include 'summary.html' %}
                </td>
                <td class="layout-code">
                    {% include 'display-html.html' %}
                </td>
            </tr>
        </table>
    </body>
</html>
